.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 15px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 100%;
  background: rgb(199, 196, 245);
  z-index: 140;

  @media (min-width: 992px) {
    padding: 0 30px;
    height: 70px;
  }

  @media (min-width: 1280px) {
    padding: 0 50px;
  }

  @media (min-width: 1280px) {
    padding: 0 50px;
  }

  @media (min-width: 1700px) {
    width: 1600px;
  }
}
